<!DOCTYPE html>
<html>

<head>
    <title>All Tests</title>
</head>

<body>

<h2>All Tests</h2>

<a href="{{ url_for('test.create_test') }}">
    <button>Create New Test</button>
</a>

<br><br>

<table border="1" cellpadding="8">

    <tr>
        <th>ID</th>
        <th>Test Name</th>
        <th>Duration</th>
        <th>Actions</th>
    </tr>

    {% for test in tests %}
    <tr>

        <td>{{ test.id }}</td>

        <td>{{ test.test_name }}</td>

        <td>{{ test.duration }} Minutes</td>

        <td>
            <a href="{{ url_for('test.manage_questions', test_id=test.id) }}">
                <button>Open</button>
            </a>

            <a href="{{ url_for('test.delete_test', test_id=test.id) }}">
                <button>Delete</button>
            </a>
            <a href="{{ url_for('test.start_test', test_id=test.id) }}">
                <button>Take Test</button>
            </a>

        </td>

    </tr>
    {% endfor %}

</table>

</body>

</html>